<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.comic.mapper.ContentRegisterMapper">

<parameterMap id="webtoonVO" type="com.comic.domain.WebtoonVO" />

	<!-- 웹툰 생성 -->
	<insert id="webtoonInsert" parameterMap="webtoonVO">
		INSERT INTO NAVER_WEBTOON
		(WEBTOON_NUM, WEBTOON_TITLE, WEBTOON_AGE, WEBTOON_INFO)
		VALUES
		(N_W_SEQ.NEXTVAL, #{webtoonTitle}, #{webtoonAge}, #{webtoonInfo})
	</insert>

	<!-- 웹툰 요일 생성 -->
	<insert id="webtoonWeekInsert" parameterMap="webtoonVO">
		INSERT INTO WEBTOON_WEEK
		(WEBTOON_WEEK_NUM, WEBTOON_NUM, WEEK_NUM)
		SELECT 
		W_W_SEQ.NEXTVAL AS WEBTOON_WEEK_NUM, 
		WEBTOON_NUM, 
		(SELECT WEEK_NUM  FROM WEEK WHERE WEEK.WEEK_DAY =#{weekDay}) AS WEEK_NUM
		FROM NAVER_WEBTOON
		WHERE WEBTOON_TITLE = #{webtoonTitle} AND WEBTOON_INFO = #{webtoonInfo}
	</insert>

	<!-- 웹툰 장르 생성 -->
	<insert id="webtoonGenreInsert" parameterType="com.comic.domain.WebtoonVO">
		INSERT INTO WEBTOON_GENRE
		VALUES
		(#{genreType}, #{webtoon_TITLE}, 
		(SELECT webtoon_NUM FROM NAVER_WEBTOON WHERE webtoon_TITLE = #{webtoon_TITLE} AND webtoon_INFO = #{webtoon_INFO}))
	</insert>
	
	<!-- 웹툰 데이터 변경 -->
	<update id="webtoonUpdate" parameterMap="webtoonVO">
		UPDATE NAVER_WEBTOON
		SET webtoon_TITLE = #{webtoonTitle}, webtoon_AGE = #{webtoonAge}, webtoon_INFO = #{webtoonInfo}, webtoon_COVER = #{webtoonCover}
		WHERE webtoon_NUM = #{webtoonNum}
	</update>
	
	<!-- 웹툰 데이터 삭제 -->
	<delete id="webtoonDelete" parameterMap="webtoonVO">
		DELETE FROM NAVER_WEBTOON
		WHERE webtoon_NUM = #{webtoonNum}
	</delete>
	
	<!-- 삭제하는 웹툰 요일 정보 삭제 -->
	<delete id="webtoonWeekDelete">
		DELETE FROM WEBTOON_WEEK
		WHERE webtoon_NUM = #{webtoonNum}
	</delete>
	
	<!-- 삭제하는 웹툰 장르 정보 삭제 -->
	<delete id="webtoonGenreDelete">
		DELETE FROM WEBTOON_GENRE
		WHERE webtoon_NUM = #{webtoonNum}
	</delete>
</mapper>


