<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.comic.mapper.NaverMemberMapper">

	<insert id="memberInsert" parameterType="com.comic.domain.NaverMemberVO">
		INSERT INTO NAVER_MEMBER
		(userNUM, user_ID, user_PW, user_NAME, user_GENDER, user_PHONE, user_EMAIL)
		VALUES
		(N_M_SEQ.NEXTVAL, #{user_ID}, #{user_PW}, #{user_NAME}, #{user_GENDER}, #{user_PHONE}, #{user_EMAIL})
	</insert>

	<select id="memberSelect" resultType="com.comic.domain.NaverMemberVO">
		SELECT *
		FROM NAVER_MEMBER
		WHERE user_ID = #{user_ID}
		AND user_PW = #{user_PW}
	</select>























</mapper>