<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.comic.mapper.WebtoonContentMapper">

<!-- Mapper VO -->
<resultMap id="webtoonVO" type="com.comic.domain.WebtoonVO">
  <result column="WEBTOON_NUM" property="webtoonNum"/>
  <result column="WEBTOON_TITLE" property="webtoonTitle"/>
  <result column="WEBTOON_AGE" property="webtoonAge"/>
  <result column="WEBTOON_INFO" property="webtoonInfo"/>
  <result column="WEBTOON_GPA" property="webtoonGpa"/>
  <result column="WEBTOON_LIKE" property="webtoonLike"/>
  <result column="WEEK_DAY" property="weekDay"/>
  <result column="WEEK_NUM" property="weekNum"/>
</resultMap>

	<!-- 웹툰 요일별 검색 -->
	<select id="weekSelect"	resultMap="webtoonVO">
		SELECT
			NW.WEBTOON_NUM, NW.WEBTOON_TITLE, NW.WEBTOON_COVER, W.WEEK_DAY
		FROM
			NAVER_WEBTOON NW LEFT JOIN WEBTOON_WEEK WW
				ON NW.WEBTOON_NUM = WW.WEBTOON_NUM
			LEFT JOIN WEEK W
				ON WW.WEEK_NUM = W.WEEK_NUM
	</select>
	
	<!-- 해당 웹툰 검색 -->
	<select id="webtoonSelect" resultMap="webtoonVO">
		SELECT * 
		FROM NAVER_WEBTOON 
		WHERE WEBTOON_NUM = #{webtoonNum}  
	</select>
	
	<!-- 에피소드 생성 -->
	<insert id="episodeInsert" parameterType="com.comic.domain.EpisodeVO">
	INSERT INTO WEBTOON_EPISODE 
	(EPISODE_NUM, EPISODE_TITLE, EPISODE_TEXT, EPISODE_COVER, WEBTOON_NUM) 
	VALUES 
	(W_E_SEQ.NEXTVAL, #{episodeTitle}, #{episodeText}, #{episodeCover}, #{webtoonNum})
	</insert>
	
	<!-- 에피소드 검색 -->
	<select id="episodeSelect" resultMap="webtoonVO">
		SELECT * 
		FROM WEBTOON_EPISODE 
		WHERE WEBTOON_NUM = #{webtoonNum}
	</select>

	<!-- 에피소드 내용 검색 -->	
	<select id="episodeDetailSelect" resultType="java.util.HashMap">
		SELECT * 
		FROM WEBTOON_EPISODE 
		WHERE 
			webtoon_NUM = #{webtoon_NUM} 
			AND 
			episode_NUM = #{episode_NUM}
	</select>
	
	<!-- 에피소드 내용 변경 -->
	<update id="episodeUpdate" parameterType="java.util.HashMap">
		UPDATE WEBTOON_EPISODE 
		SET episode_TITLE = #{episode_TITLE}, episode_TEXT = #{episode_TEXT}, episode_COVER = #{episode_COVER}, episodeCONTENT = #{episodeContent}
		WHERE episode_NUM = #{episode_NUM} AND webtoon_NUM = #{webtoon_NUM}
	</update>
	
	<!-- 에피소드 이부분 고민할것 -->
	<delete id="episodeDelete" parameterType="java.util.HashMap">
		DELETE FROM WEBTOON_EPISODE
		WHERE episode_NUM = #{episode_NUM} AND webtoon_NUM = #{webtoon_NUM} 
	</delete>
	
</mapper>


